global
    maxconn 5000
    user        haproxy
    group       haproxy
    log /dev/log local0
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    daemon

defaults
    timeout connect 100s
    timeout client 300s
    timeout server 300s
    log global
    mode tcp
    maxconn 3000

{%- for frontend, args in salt['pillar.get']('haproxy:frontend').iteritems() %}

frontend {{ frontend }}
    mode {{ args['mode'] }}
    bind :{{ args['port'] }} {{ args['bind_option'] }}
    default_backend {{ args["backend"] }}

{%- endfor %}

{%- for backend, args in salt['pillar.get']('haproxy:backend').iteritems() %}

backend {{ backend }}
    mode {{ args['mode'] }}
    balance {{ args['balance'] }}
  {%- for server in args['servers'] %}
    server {{ server }} check
  {%- endfor %}
{%- endfor %}
