{
  "signing": {
    "default": {
      "expiry": "168h"
    },
    "profiles": {
{%- for profile, profile_spec in salt['pillar.get']('pki:CA:profiles').iteritems() %}
    {%- set profile_name = profile %}
      "{{ profile_name }}": {
  {%- for key_names, value_names in profile_spec.iteritems() %}
    {%- set key = key_names %}
    {%- set value = value_names %}
    {%- if key == "usages" %}
        "usages": [
      {%- for usages in value %}
        {%- set usage = usages %}
          "{{ usage }}"
          {%- if not loop.last -%}
          ,
          {%- endif %}
      {%- endfor %}
        ]
    {%- else %}
        "{{ key }}" : "{{ value }}"
    {%- endif %}
    {%- if not loop.last -%}
      ,
    {%- endif %}
  {%- endfor %}
      }
    {%- if not loop.last -%}
      ,
    {%- endif %}
{%- endfor %}
    }
  }
}
