{%- set cn = salt['pillar.get']('pki:CA:CN') %}
{
  "CN": "{{ cn }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
{%- for key_names, value_names in salt['pillar.get']('pki:CA:spec').iteritems() %}
  {%- set key = key_names %}
  {%- set value = value_names %}
      "{{ key }}" : "{{ value }}"
  {%- if not loop.last -%}
      ,
  {%- endif %}
{%- endfor %}
    }
  ]
}
