{
  "CN": "{{ cert_cn }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
{%- if salt['pillar.get']('pki:certs:' ~ cert_cn ~ ':hosts') %}
  "hosts": [
  {%- for hosts in salt['pillar.get']('pki:certs:' ~ cert_cn ~ ':hosts') %}
    {%- set host = hosts %}
      "{{ host }}"
    {%- if not loop.last -%}
      ,
    {%- endif %}
  {%- endfor %}
  ],
{%- endif %}
  "names": [
    {
{%- for key_names, value_names in salt['pillar.get']('pki:certs:' ~ cert_cn ~ ':names').iteritems() %}
  {%- set key = key_names %}
  {%- set value = value_names %}
      "{{ key }}" : "{{ value }}"
  {%- if not loop.last -%}
      ,
  {%- endif %}
{%- endfor %}
    }
  ]
}
