{
  "CN": "system:node:{{ node_name }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "hosts": [
    "{{ node_name }}",
    "{{ node_ip }}"
  ],
  "names": [
    {
{%- for key_names, value_names in salt['pillar.get']('pki:certs:kubelet:names').iteritems() %}
  {%- set key = key_names %}
  {%- set value = value_names %}
      "{{ key }}" : "{{ value }}"
  {%- if not loop.last -%}
      ,
  {%- endif %}
{%- endfor %}
    }
  ]
}
