*filter
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT
COMMIT

*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT
{%- for nat_type, args in salt['pillar.get']('iptables:nat').iteritems() %}
{%- set type = nat_type  %}
  {%- for arg in args %}
-A {{ type }} {{ arg }}
  {%- endfor %}
{%- endfor %}
COMMIT








