{%- set k8s_vip = salt['pillar.get']('kubernetes:vip') %}

apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ca.pem
{%- if file_name == "kube-controller-manager" or file_name == "kube-scheduler" %}
    server: https://127.0.0.1:6443
{%- else %}
    server: https://{{ k8s_vip }}:6443
{% endif %}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
{%- if file_name == "kube-proxy" or file_name == "admin" %}
    user: {{ file_name }}
{%- elif file_name == "kube-controller-manager" or file_name == "kube-scheduler" %}
    user: system:{{ file_name }}
{%- else  %}
    user: system:node:{{ file_name }}
{% endif %}
  name: default
current-context: default
kind: Config
preferences: {}
users:
{%- if file_name == "kube-proxy" or file_name == "admin" %}
- name: {{ file_name }}
{%- elif file_name == "kube-controller-manager" or file_name == "kube-scheduler" %}
- name: system:{{ file_name }}
{%- else %}
- name: system:node:{{ file_name }}
{% endif %}
  user:
    client-certificate: /etc/kubernetes/{{ file_name }}.pem
    client-key: /etc/kubernetes/{{ file_name }}-key.pem
