[Unit]
Description={{ package }}
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/{{ package }} \

{%- for key, value in salt['pillar.get']('kubernetes:' ~ package).iteritems() %}
  {%- if key == "advertise-address" %}
  --{{ key }}={{ host_ip }}
  {%- else  %}
  --{{ key }}={{ value }}
  {%- endif %}
  {%- if not loop.last -%}
    {{ " " }}\
  {%- endif -%}
{%- endfor %}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
