{% set dns = salt['pillar.get']('network:dns') %}
{% set domain = salt['pillar.get']('network:domain') %}
{% set vpc_cidr = salt['pillar.get']('network:vpc_cidr') %}

options {
        listen-on port 53 { 127.0.0.1; {{ dns }}; };
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        recursing-file  "/var/named/data/named.recursing";
        secroots-file   "/var/named/data/named.secroots";
        allow-query     { localhost; {{ vpc_cidr }}; };

        recursion yes;

        dnssec-enable yes;
        dnssec-validation yes;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.root.key";

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

zone "{{ domain }}" IN {
        type master;
        file "forward.home";
        allow-update { none; };
};

zone "100.111.10.in-addr.arpa" IN {
        type master;
        file "reverse.home";
        allow-update { none; };
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
