{%- set server_name = salt['pillar.get']('openvpn:specs:server') %}
{%- set public_ip = '171.33.104.250' %}

ca ca.pem
cert {{ client_name }}.pem
key {{ client_name }}-key.pem
tls-auth ta.key 1

{%- set configuration = salt['pillar.get']('openvpn:configuration') %}

client
remote {{ public_ip }} {{ configuration['port'] }}
proto {{ configuration['proto'] }}
dev {{ configuration['dev'] }}
cipher {{ configuration['cipher'] }}

resolv-retry infinite
nobind
persist-key
persist-tun
#remote-cert-tls server
verb 3
