{%- set server_name = salt['pillar.get']('openvpn:specs:server') %}
ca server/ca.pem
cert server/{{ server_name }}.pem
key server/{{ server_name }}-key.pem
dh server/dh.pem
tls-auth server/ta.key 0

{%- for key_names, value_names in salt['pillar.get']('openvpn:configuration').iteritems() %}
  {%- set key = key_names %}
  {%- set value = value_names %}
  {%- if key == "routes" %}
    {%- for routes in value %}
    {%- set route = routes %}
push "route {{ route }}"
    {%- endfor %}
  {%- elif key == "dns" %}
push "dhcp-option DNS {{ value }}"
  {%- elif key == "redirect" %}
    {%- if value == true %}
push "redirect-gateway def1 bypass-dhcp"
    {%- endif %}
  {%- else %}
{{ key }} {{ value }}
  {%- endif %}
{%- endfor %}

persist-key
persist-tun
keepalive 10 120
persist-key
persist-tun
status openvpn-status.log
log         openvpn.log
log-append  openvpn.log
verb 3
