{%- set hostname = salt['grains.get']('host') %}
{%- set ip = salt['grains.get']('ip4_interfaces:eth0')[0] %}

{%- set peer_list = salt['pillar.get']('etcd:peer_list') %}

[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name={{ hostname }} \
  --cert-file=/etc/etcd/etcd.pem \
  --key-file=/etc/etcd/etcd-key.pem \
  --peer-cert-file=/etc/etcd/etcd.pem \
  --peer-key-file=/etc/etcd/etcd-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ip }}:2380 \
  --listen-peer-urls https://{{ ip }}:2380 \
  --listen-client-urls https://{{ ip }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ip }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ peer_list }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
